/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 18px;
    line-height: 32px;
}

img {
    border-radius: 10px;
    box-shadow: 5px 10px 10px #0000005f;
}

.align-right {
    text-align: right;
}

.btn-white {
    display: inline-block;
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    color: #E2002C;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.2s;
}

.btn-white:hover {
    background-color: #940320;
    color: white;
}

/* Header Styles */

header {
    padding: 20px;
    color: white;
    /* background-color: #E2002C; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo p {
    font-size: 24px;
    font-weight: 700;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 40px;
    align-items: center;
}

header ul .sign-up {
    background-color: white;
    color: #E2002C;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.2s;
}

header ul .sign-up:hover {
    background-color: #940320;
    color: white;
}

/* Hero Styles */

.hero {
    background-color: #E2002C;
    margin-top: -100px;
    padding: 200px 150px 130px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    padding-right: 70px;
}

.hero-content .subtitle {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.hero-content h1 {
    margin-bottom: 20px;
}

.hero-content a {
    margin-top: 30px;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    color: #E2002C;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.2s;
}

.hero-content a:hover {
    background-color: #940320;
    color: white;
}

.hero-img {
    padding-left: 80px;
}


.hero-img img {
    height: 500px;
    width: 800px;
    object-fit: cover;
}

/* Features Section */

.features {
    padding: 80px 150px;
    text-align: center;
}

.features h2 {
    margin-bottom: 80px;
}

.features-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 100px;
}

.features-item {
    flex: 1;
}

.features-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Testimonial Styles */

.testimonial {
    padding: 80px 300px;
    background-color: #f0f0f0;
}

.testimonial p {
    font-size: 24px;
    line-height: 40px;
}

.testimonial .align-right {
    margin-top: 30px;
    font-weight: bold;
}

/* CTA Styles */

.cta {
    padding: 80px 0px;
}

.cta-box {
    width: 1000px;
    height: 150px;
    margin: 0 auto;
    background-color: #E2002C;
    border-radius: 10px;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 10px 10px #0000005f;
}

.cta-box h4 {
    font-size: 24px;
}

/* Footer */

footer {
    background-color: #E2002C;
    color: white;
    text-align: center;
    padding: 20px 0;
}